@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
	scroll-behavior: smooth;
	width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
}

body {
	background: black;
	margin: 0px;
	padding: 0px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	overflow-x: hidden;
}

button {
	font-family: 'Quicksand', sans-serif;
	color: white;
}

#loading {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #222;
	display: block;
	opacity: 1;
	z-index: 100;
}

#terms {
	position: fixed;
	display: none;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, .5);
	color: white;
	z-index: 8;
	transition: .5s ease;
	opacity: 0;
}

#terms p {
	font-weight: 700;
	font-size: 2em;
	width: 100%;
	text-align: center;
}

#terms ol {
	padding: 0 4vw 5vh;
	background: #555;
	border-radius: 1vh;
	text-align: center;
}

#terms button {
	margin-top: 2vh;
	padding: 1vh;
	color: black;
	border: none;
	border-radius: 1vh;
	cursor: pointer;
}

#terms button:hover {
	background: #fff;
}

#nav {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	width: 100vw;
	justify-content: flex-end;
	align-content: center;
	align-items: stretch;
	z-index: 2;
}

#nav a:hover {
	color: black;
	background-color: white;
}

#nav a {
	flex-grow: 1;
	flex-shrink: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 3vh;
	border: 1px white;
	text-decoration: none;
	color: white;
	font-size: 1em;
	transition: 0.2s ease;
}

#floatingnav {
	display: flex;
	position: fixed;
	bottom: -10vh;
	left: 50vw;
	transform: translateX(-50%);
	width: 97vw;
	opacity: 0;
	justify-content: flex-end;
	align-content: center;
	align-items: stretch;
	z-index: 5;
	background: #999;
	transition: .5s ease;
	border-radius: 1vh;
	overflow: hidden;
	box-shadow: 0 0 1vh 0vh #000;
}

#floatingnav a:hover {
	color: black;
	background-color: white;
}

#floatingnav a {
	flex-grow: 1;
	flex-shrink: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 3vh;
	border: 1px white;
	text-decoration: none;
	color: white;
	font-size: 1em;
	transition: 0.2s ease;
}

#floatingnav span {
	flex-grow: 1;
	display: none;
	align-items: center;
	justify-content: flex-start;
}

.arrow {
	border: solid black;
	border-width: 0 1vh 1vh 0;
	display: inline-block;
	padding: 1vh;
	transform: rotate(45deg);
}

.link {
	border: solid white;
	border-width: 0 .1em .1em 0;
	display: inline-block;
	padding: .15em;
	transform: rotate(-90deg) translate(100%, -20%);
}

#wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#title {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

#logo {
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: 50vh;
	pointer-events: none;
	opacity: 0;
}

#explore {
	position: absolute;
	bottom: 10vh;
	left: 50vw;
	width: 4vh;
	height: 4vh;
	transform: translateX(-50%);
	text-align: center;
	opacity: 0;
	color: black;
	background: white;
	padding: 2vh;
	margin: 0;
	border-radius: 50%;
	transition: .5s ease;
}

#rest {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 95%;
	color: white;
}

#patrons {
	width: 100%;
	min-height: 70vh;
	text-align: center;
	padding: 2vh;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	background: #222;
	border-radius: 1vh;
}

#patrons #subtitle {
	font-size: 2em;
	font-weight: 700;
	color: white;
	position: relative;
	width: -moz-fit-content;
	width: fit-content;
	left: 50%;
	transform: translateX(-50%);
}

#patrons #subtitle:hover .kofi {
	opacity: 1;
}

.kofi {
	position: absolute;
	display: inline-block;
	width: 30vh;
	top: 0;
	left: 102%;
	padding: 1vh;
	border-radius: .5vh;
	background-color: rgba(255, 255, 255, .5);
	color: black;
	font-size: 0.5em;
	font-weight: 400;
	pointer-events: none;
	opacity: 0;
	transition: 1s ease;
	pointer-events: none;
}

#patrons a {
	text-decoration: none;
	color: white;
}

#patrons #container {
	margin-top: 2vh;
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: stretch;
	flex-grow: 1;
}

#patrons #container a {
	padding: 2vh;
	margin: 0.5vh;
	border: solid white 1px;
	color: white;
	text-decoration: none;
}

#patrons #inpo {
	padding-top: 3vh;
}

#works {
	margin-top: 2vh;
	padding: 2vh;
	width: 100%;
	text-align: center;
	background: #222;
	border-radius: 1vh;
}

#workstitle {
	padding: 0 0 3vh 0;
	width: 100%;
	text-align: center;
}

#workstitle span {
	font-size: 2em;
	font-weight: 700;
}

#illust {
	margin-top: 2vh;
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: stretch;
	overflow: hidden;
	transition: .5s ease;
}

#illust span {
	width: 100%;
	padding: 1vh;
}

#illust a {
	margin: 0.5vh;
	height: 50vh;
}

#illust a .illust {
	max-height: 100%;
	min-width: 100%;
	object-fit: cover;
	vertical-align: bottom;
	opacity: 0;
	transition: .5s ease;
}

#ongoing {
	display: none;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	transition: .5s ease;
	opacity: 0;
}

#ongoing a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 14em;
	height: 14em;
	border-radius: 50%;
	overflow: hidden;
	margin: 3vh;
}

#ongoing .ongoingimg {
	height: 100%;
	transition: .5s ease;
}

#ongoing .ongoingimg:hover {
	height: 120%;
}

#category {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 10vh;
	overflow: hidden;
	transition: .5s ease;
	border-radius: 1vh;
}

#category button {
	border-radius: 0;
	border: none;
	border-bottom: #fff solid 1vh;
	padding: 2vh;
	margin: 1vh;
	background: #888;
	font-size: 1em;
	font-weight: 700;
	transition: .5s ease;
	cursor: pointer;
}

#category button:hover {
	background: #aaa;
}

#about {
	padding: 3vh 0 1vh;
	width: 100%;
	text-align: center;
}

#about span {
	font-size: 2em;
	font-weight: 700;
}

#about p {
	margin: 2vh 4vw;
}

#about a {
	color: yellow;
	cursor: pointer;
	text-decoration: underline;
}

#socmed {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 8vh;
}

#socmed span {
	text-align: center;
}

.socmed img {
	width: 60%;
	border-radius: 50%;
	transition: .5s ease;
	box-shadow: 0 0 1vh 0vh rgba(0, 0, 0, 0);
}

.socmed img:hover {
	box-shadow: 0 0 1vh 0vh rgba(255, 255, 255, 1);
}


@media screen and (max-width:280px) {
	#ongoing a {
		height: 65vw;
		width: 65vw;
	}
}

@media (max-aspect-ratio: 1/1) {
	#illust a {
		height: 30vh;
	}
}

@media (max-height: 480px) {
	#illust a {
		height: 80vh;
	}
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
	#works {
		flex-direction: row;
	}

	#illust a {
		height: auto;
		width: 100%;
	}

	#works a .illust {
		width: 100%;
		max-height: 75vh;
		min-width: 0;
	}
}

@media screen and (min-width:400px) {
	#floatingnav {
		width: 95vw;
	}
}

@media screen and (min-width:500px) {
	#socmed {
		width: 70%;
	}
}

@media screen and (min-width:600px) {
	#floatingnav span {
		display: flex;
	}
}

@media screen and (min-width:768px) {
	#title #logo {
		height: 70vh;
	}

	#socmed {
		width: 60%;
	}
}

@media screen and (min-width:800px) {
	#nav {
		width: 95vw;
	}

	#nav a {
		flex-grow: 0;
	}

	#floatingnav a {
		flex-grow: 0;
	}

	#socmed {
		width: 40%;
	}
}

@media screen and (min-width:1000px) {
	#socmed {
		width: 25%;
	}
}