/* @import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;700'); */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import "./hify/main.css";
@import "./site-specific/site.css";
@import "./site-specific/parallax.css";
@import "./spinner.css";

/* * {
  transition: 0.3s;
} */

*:not(.material-symbols-outlined) {
  font-family: "Quicksand", sans-serif !important;
}

html body {
  background-color: var(--hi-background);
  color: var(--hi-foreground);
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.hi-tablecontainer {
  border-radius: 12px;
  color: var(--hi-foreground);
  border: 1px solid var(--hi-neutral);
  overflow: hidden;
}

thead,
thead * {
  font-weight: 500;
  text-align: center;
  background-color: var(--hi-neutral);
  border-top: 0 !important;
}

td:first-child {
  border-left: 0 !important;
}

@media (prefers-color-scheme: light) {
  .white-imgs {
    filter: invert(70%);
  }
}
