.dots-pattern {
  background-image: radial-gradient(rgba(255,255,255, 0.1) 9%, transparent 9%);
  background-size: 5vmin 5vmin;
  height: 100vh;
  width: 100vw;
  left: 0px;
  position: absolute;
  top: 0px;
  transition: opacity 800ms ease, background-size 800ms ease,
    background-position 800ms ease;
  z-index: -100;
}

.hi-nav-rail:hover ~ .dots-pattern {
  background-size: 4.5vmin 4.5vmin;
}

@media (prefers-color-scheme: light) {
  .dots-pattern {
    background-image: radial-gradient(rgba(0, 0, 0, 0.1) 9%, transparent 9%);
  }
}