.dots-pattern {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.1) 9%,
    transparent 9%
  );
  background-size: 5vmin 5vmin;
  height: 100%;
  width: 100vw;
  left: 0px;
  position: absolute;
  top: 0px;
  transition: opacity 500ms ease, background-size 500ms ease;
  z-index: -100;
}

.hi-nav-rail:hover ~ .dots-pattern {
  background-size: 4.6vmin 4.6vmin;
}

.content {
  transition: transform 500ms ease
}

.site-content{
  transition:margin 500ms ease;
}

.hi-nav-rail:hover ~ .content-parent > .content {
  transform: scale(0.8);
  padding-bottom: 200px;
  transition: transform 500ms ease;
}

.hi-nav-rail:hover ~ .content-parent .site-content {
  margin-bottom: 7.5vw;
  transition: margin 500ms ease;
}

@media (prefers-color-scheme: light) {
  .dots-pattern {
    background-image: radial-gradient(rgba(0, 0, 0, 0.1) 9%, transparent 9%);
  }
}
