.content {
  width: 100vw;
  height: 100vh;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;

  transition: opacity 500ms ease;
  
  display:flex;

  background-color: white;
}
