@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Space Mono";
  font-weight: 400;
  font-style: normal;
  src: url(@/assets/typefaces/space_mono.ttf) format(truetype);
}

@font-face {
  font-family: "Space Mono";
  font-weight: 700;
  font-style: normal;
  src: url(@/assets/typefaces/space_mono-bold.ttf) format(truetype);
}

@font-face {
  font-family: "Space Mono";
  font-weight: 400;
  font-style: italic;
  src: url(@/assets/typefaces/space_mono-italic.ttf) format(truetype);
}

@font-face {
  font-family: "Space Mono";
  font-weight: 700;
  font-style: italic;
  src: url(@/assets/typefaces/space_mono-bolditalic.ttf) format(truetype);
}


*:not(.material-symbols-outlined) {
  font-family: "Space Mono", monospace;
}

.noisy {
  background-image: url(@/assets/imgs/noise.svg);
}