.content {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;

  transition: opacity 500ms ease;

  display: flex;

  background-color: white;
}

.loading-bar {
  background: rgba(0, 0, 0, 75%);
  transform-origin: 0% 50%;
  width: 0%;
  height: 100%;
  transition: 100ms ease;
}

.loading-bar-container {
  border-radius: 2px;
  overflow: hidden;
  width: 200px;
  height: 4px;
  background: rgba(0, 0, 0, 10%);
}

@media (prefers-color-scheme: dark) {
  .loading-bar {
    background: rgba(255, 255, 255, 75%);
  }

  .loading-bar-container {
    background: rgba(255, 255, 255, 10%);
  }
  .loading-screen {
    background-color: rgba(0, 0, 0);
    color: white;
  }
  .hi-photo-grid img:hover {
    box-shadow: 0 0 10px #ffff;
  }
}
